*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.after_hero{
    margin: 3%;
}

.navibar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 auto;
    /* max-width: 1512px; */
    background-color: #f5f8fe;
    z-index: 4;
    
  }
  
  
  .logo img {
    width: 100%;
  }
  
  .navi-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
  }
  
  .navi-link a {
    color: black;
    text-decoration: none;
  }
  
  .nav-about-us {
    border-bottom: 2px solid #088f4e;
    padding: 3px 10px;
  }
  
  .navi-link a {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
  }
  
  .donate-btn1 {
    background-color: #088f4e;
    color: white;
    border-radius: 8px;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    transition: padding 1s, transform 2s;
  }
  
  .navi-link button:hover {
    background-color: #088f4ec4;
    color: white;
    padding: 10px 24px;
  }

  .hamburger {
    display: none;
  }
    


/*SECTION 1*/
.section_1{
    background-image: url('/About-us-assets/image1.png');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size:  cover;
    height: 90vh;
    color: white;
    text-align: center;
   
}

h1{
    font-size: 96px;
    padding-top: 14%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h3{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.section1_hr{
   margin-top: 2%;
    color: black;
}

/*SECTION 2*/
.row{
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 28px;
    padding-right: 3%;

}

.col {
    width: 40%;
    margin-left: 50px;
    width: 100%;
}


/*SECTION 3*/
.section_3, .section_4{
    display: flex;
    align-content: center;
    padding: 3rem 3rem;
    font-size: 20px;
    gap: 5rem;
    align-items: center;
   
}

.second_image, .third_image{
    width: 45%;
    border-radius: 20px;
}

.freedom_mission, .freedom_values{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #303030;
}

.read{
    color: #FF8D06;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    justify-items: center;
}

.vector2 {
    width: 1.2%;   
}

.more{
    text-align: center;
    padding-top: 50px;
}

.mission-text, .values-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    text-align: justify;
    color: #303030;
}

/*SECTION 5*/
.team{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #1B1C1E;
    margin-top: 5%;
}

/*SECTION 6*/
.card1{
    width: 25%;
    height: 500px;
    box-shadow: 8px 8px 20px 3px rgba(0, 0, 0, 0.25), -8px -8px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 6.5%;
    margin-bottom: 6%;
    line-height: 42px;
}

.section_6{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

.Gideon{
    border-radius: 100%;
    width: 100%;
    padding: 1.5rem 5rem;
}

.name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #2B2B2B;
    text-align: center;
    font-size: 19px;
}

.role{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #303030;
    text-align: center;
    font-size: 19px;
}



.vector3{
    width: 2%;
}

.bio{
    color: #FF8D06;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 19px;
    border-bottom: 2px solid #FF8D06;

}


/* footer-section */

.footer-background {
    background-color: #2d2d2d;
    padding-top: 5rem;
  }
  
  .footer {
    background-color: #2d2d2d;
    padding: 60px 40px;
    max-width: 1512px;
    margin: 0 auto;
  }
  
  .small h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #088f4e;
  }
  
  .small img {
    width: 100%;
    padding: 10px 0 15px;
  }
  
  .first {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
  
  .footer-test h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }
  
  .footer-test a {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .footer a {
    text-decoration: none;
  }
  
  .footer a :hover {
    color: #088f4e;
  }
  
  .socials {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .footer-test p {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  
  .second {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }
  
  .second h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    opacity: 0.9;
  }
  
  .second p {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

