@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: #fffdfd;
}
a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #2d2d2d;
}
p {
  font-family: "Open Sans", sans-serif;
  /* font-weight: 200; */
}
h2 {
  font-size: 3.5rem;
}
#home header {
  background-image: url("images/header-image.png");
  background-color: black;
  height: 120vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 3rem;
}
#home header h1 {
  color: #fff;
  padding: 1rem 0;
  width: 60%;
  font-size: 4rem;
  text-align: center;
  line-height: 5rem;
}
#home header button {
  background: #088f4e;
  border-radius: 8px;
  border: none;
  padding: 1.3rem 1.5rem;
  margin-top: 0.8rem;
  width: 16%;
}
#home header button:hover {
  background-color: rgba(2, 101, 54, 1);
}
#home header button a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  line-height: 38px;
  text-align: center;
  color: #fffdfd;
}
.about {
  display: flex;
  padding: 5rem 6rem;
  /* justify-content: space-between; */
  position: relative;
}
.about .about-img {
  width: 70%;
}
.about .about-img img {
  width: 90%;
  filter: grayscale(100%) saturate(0) contrast(78%);
  border: none;
  border-radius: 10px;
}
.about .abt-text h2 {
  font-size: 3.5rem;
  color: #2d2d2d;
  padding-top: 1rem;
}
.about .abt-text h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #fb8903;
}
.about .abt-text .mission-card {
  position: absolute;
  background: #fef7f1;
  box-shadow: 3px 4px 20px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0px 4px 4px 0px;
  padding: 3.3rem 3rem;
  /* width: 500px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  left: 50%;
  right: 7%;
  z-index: 1;
  top: 38%;
}
.about .abt-text .mission-card p {
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  /* text-align: center; */
  line-height: 38px;
  color: #2d2d2d;
}
.about .abt-text .mission-card h1 {
  font-size: 4rem;
  align-self: baseline;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: rgb(251, 137, 3);
  position: absolute;
  right: 5%;
  top: -7%;
  z-index: 2;
}
.about .abt-text .mission-card button {
  background: transparent;
  border-radius: 8px;
  border: 1px solid #fb8903;
  padding: 0.9rem 1.1rem;
  margin-top: 1.7rem;
  width: 38%;
}
.about .abt-text .mission-card button:hover a,
.impact button:hover a {
  font-weight: 600;
}
.about .abt-text .mission-card button:hover,
.impact button:hover {
  border: 2px solid rgba(245, 115, 41, 1);
}
.about .abt-text .mission-card button a {
  font-family: "Open Sans", sans-serif;
  line-height: 38px;
  font-size: 20px;
  text-align: center;
  color: rgb(251, 137, 3);
}
.sponsor,
.volunteer {
  display: flex;
  padding: 3rem 6rem;
  justify-content: space-between;
}
.sponsor .sponsor-img,
.volunteer .volunteer-img {
  width: 35%;
}
.sponsor .sponsor-img img,
.volunteer .volunteer-img img {
  width: 100%;
}
.sponsor .sponsor-text,
.volunteer .volunteer-text {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.sponsor .sponsor-text p,
.volunteer .volunteer-text p {
  font-size: 1.3rem;
  line-height: 40px;
  color: #201f1f;
}
.sponsor .sponsor-text button,
.volunteer .volunteer-text button {
  background: #ffff;
  border: 1.5px solid #088f4e;
  border-radius: 8px;
  padding: 0.9rem 1.3rem;
  width: 38%;
}
.sponsor .sponsor-text button a,
.volunteer .volunteer-text button a {
  font-size: 1.3rem;
  line-height: 38px;
  text-align: center;
  color: #088f4e;
}
.sponsor .sponsor-text button:hover a,
.volunteer .volunteer-text button:hover a {
  color: #fcfdfd;
  /* background-color: #088f4e; */
}
.sponsor .sponsor-text button:hover,
.volunteer .volunteer-text button:hover {
  box-shadow: 0 4px 20px #d8d7d767;
  padding: 0.9rem 1.3rem;
  background-color: #088f4e;
  color: #fcfdfd;
  transition: background-color 0.3s ease-in-out;
}
.impact {
  background-color: rgba(237, 152, 52, 6%);
  padding: 4rem 5rem;
  margin: 2rem 6rem;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.impact button {
  align-self: center;
  margin-top: 3rem;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #fb8903;
  padding: 0.9rem 1.7rem;
  width: 20%;
}
.impact button a {
  font-family: "Open Sans", sans-serif;
  line-height: 38px;
  font-size: 19px;
  text-align: center;
  color: #fb8903;
}
.impact-cont {
  display: flex;
  justify-content: space-between;
}
.impact h4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #fb8908;
}
.subscribe {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  text-align: center;
  background: #fefaf5;
}
.email {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.subscribe button {
  background: #088f4e;
  border-radius: 8px;
  border: none;
  padding: 1.5rem;
  width: 15%;
  position: absolute;
  right: 14%;
}
.subscribe button a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  /* font-weight: 500; */
  font-size: 1rem;

  text-align: center;
  color: #fffdfd;
}
.subscribe p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 165.18%;
  text-align: center;
  color: #fb8908;
  text-align: center;
}
.subscribe input {
  background: #f5f3f3;
  border-radius: 6px;
  border: none;
  padding: 1.3rem 3rem;
  width: 72%;
  font-size: 18px;
  color: rgba(140, 140, 140, 0.88);
}

/* RESPONSIVENESS */
@media screen and (max-width: 1200px) and (min-width: 700px) {
  .about {
    padding: 5rem 4rem;
  }
  .about .abt-text h2,
  h2 {
    font-size: 2.5rem;
  }
  .about .abt-text h6,
  .about .abt-text .mission-card p {
    font-size: 16px;
    line-height: 32px;
  }
  .about .abt-text .mission-card {
    padding: 2rem 3rem;
    /* width: 500px; */
    left: 50%;
    right: 7%;
    z-index: 1;
    top: 32%;
  }
  .about .abt-text .mission-card button {
    padding: 0.9rem 1.2rem;
    margin-top: 1.7rem;
    width: 50%;
  }
  .about .abt-text .mission-card button a {
    font-size: 16px;
  }
  .sponsor,
  .impact,
  .volunteer {
    padding: 3rem 4rem;
  }
  .impact {
    margin: 2rem 4rem;
  }
  .sponsor .sponsor-text p,
  .volunteer .volunteer-text p {
    font-size: 1.2rem;
    line-height: 33px;
  }
  .sponsor .sponsor-text button,
  .volunteer .volunteer-text button {
    padding: 0.9rem 1.3rem;
    width: 40%;
  }
  .sponsor .sponsor-text button a,
  .volunteer .volunteer-text button a {
    font-size: 1rem;
  }
  .impact h4 {
    font-size: 32px;
  }
}
